<!--The content below is only a placeholder and can be replaced.-->
  <h1 class="font-weight-bold" id="h1"> HAPPY BRITHDAY <br/> Linda</h1>
  <div class="text-center m-1 font-weight-bolder">
    <form >
      <label for="code"></label>
      <input type="text" id="code" placeholder="code" name="lname" #code><br><br>
    </form>
    <button class="btn btn-lg btn-danger" data-playing="false" role="switch" aria-checked="false" (click)="onClick()">
          <span> Submit </span>
      </button> </div>
<router-outlet></router-outlet>
